$background-color: #4684ee;
$loader-color: #fff;
$loader-size: 25vh;


.loader {
  color: blue;
  
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: $loader-size;
  
  opacity: 0.8;
  position: fixed;
  top: 33%;
  left: 44.5%;
  text-align: center;
  
  
  span {
      text-align: center;
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;

    &:nth-child(odd) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@media only screen and (min-width: 700px) and (max-width: 799px){
    .loader{
        left: 43.4%;
    }
}
@media only screen and (min-width: 600px) and (max-width: 699px){
    .loader{
        left: 41.5%;
    }
}
@media only screen and (min-width: 500px) and (max-width: 599px){
    .loader{
        left: 40%;
    }
}
@media only screen and (min-width: 400px) and (max-width: 499px){
    .loader{
        left: 38.3%;
    }
}
@media only screen and (min-width: 300px) and (max-width: 399px){
    .loader{
        left: 36.7%;
    }
}